﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="" class="form-horizontal" name="frmMovie" ng-controller="createMovieController">
                    <section id="Employee-View">
                        <fieldset>
                            <legend><strong>{{'Create Movie'}}</strong></legend>
                            <!--<input id="MovieId" type="text" data-ng-model="data.Id" />-->
                            <div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Title">Title:</label>
                                    <div class="col-sm-10">
                                        <input id="Title" type="text" class="form-control" data-ng-model="data.Title" placeholder="Title" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Description">Description:</label>
                                    <div class="col-sm-10">
                                        <textarea id="Description" cols="20" rows="2" class="form-control" data-ng-model="data.Description" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Director">Director:</label>
                                    <div class="col-sm-10">
                                        <select data-ng-model="data.Director" id="Director" class="form-control" data-ng-options="s.Id as s.Name for s in directors" data-ng-init="data.Director=0"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="ReleaseYear">Release year:</label>
                                    <div class="col-sm-10">
                                        <input id="ReleaseYear" type="number" class="form-control" data-ng-model="data.ReleaseYear" placeholder="Release year" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Rating">Rating:</label>
                                    <div class="col-sm-10">
                                        <input id="Rating" type="number" class="form-control" data-ng-model="data.Rate" min="1" max="10" placeholder="Rate" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Language">Language:</label>
                                    <div class="col-sm-10">
                                        <select data-ng-model="data.Language" id="Language" class="form-control" data-ng-options="s.Id as s.Name for s in languages" data-ng-init="data.Language=0"></select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div ng-model="data.status"></div>
                        <fieldset ng-show="status">
                            <legend><strong>{{'Characters'}}</strong></legend>
                            <div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="movieCharacter">Character:</label>
                                    <div class="col-sm-10">
                                        <input id="movieCharacter" type="text" class="form-control" data-ng-model="character" placeholder="Character" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="movieActor">Actor:</label>
                                    <div class="col-sm-10">
                                        <input id="movieActor" type="text" class="form-control" data-ng-model="actor" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" class="btn btn-default" ng-click="AddCharacter()">Add</button>
                                    </div>
                                </div>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Character
                                            </th>
                                            <th>
                                                Actor
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="moviecharacter in data.MovieCharacters|orderBy:'Character'" data-ng-model="data.MovieCharacters">
                                            <td>
                                                {{ moviecharacter.Character }}
                                            </td>
                                            <td>
                                                {{ moviecharacter.Actor }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <div data-ng-show="!isEdit">
                            <input type="button" data-ng-disabled="frmMovie.$invalid" value="Save Movie" class="btn btn btn-success" ng-click="AddMovie(data)" data-ng-model="data">
                            <input type="button" value="Back To List" class="btn btn btn-warning" data-ng-click="backToList();">
                        </div>
                    </section>
                </form>
                
            </div>
        </div>
    </div>
</div>

