﻿<section>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
        </div>
        <div class="col-xs-6 col-md-4 pull-right">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class=".col-md-3 .col-md-pull-9"><h1>{{movieData.Title}} <div class=".col-md-9 .col-md-push-3 pull-right"><div star-rating rating-value="movieData.Rate" min="1" max=10></div></div></h1></div>
                    <div>{{movieData.Description}}</div>
                    <dl class="dl-horizontal">
                        <dt>Directed By:</dt>
                        <dd>{{movieData.Director}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Release Year:</dt>
                        <dd>{{movieData.ReleaseYear}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Language:</dt>
                        <dd>{{movieData.Language}}</dd>
                    </dl>

                    <h3>{{'Characters'}}</h3>
                    <div data-ng-repeat="character in movieData.MovieCharacters">
                        <div>{{character.Character}} ({{character.Actor}})</div>
                    </div>
                    
                    <div class="pull-right">
                        <input type="button" value="Back To List" class="btn btn btn-warning pull-right" data-ng-click="backToList();">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        
        
    </div>
</section>

