﻿<section id="Movie-View" ng-controller="listMoviesController">
    <div class="panel-heading text-center "><h1>{{'My Movies'}}</h1></div>
    <div data-ng-show="movieList === undefined" class="col-md-6 col-md-offset-3 text-center">
        <img src="../../Content/Images/ajax-loader.gif" />
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
        </div>
        <div class="col-xs-6 col-md-4 pull-right">
            <button id="btnEdit" class="btn btn-sm btn-success" data-ng-click="addMovie(movie.Id)">{{'Add Movie'}}</button>
        </div>
    </div>
    <div data-ng-show="movieList">
        <div data-ng-repeat="movie in movieList | orderBy:'-ReleaseYear'">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div><h1>{{movie.Title}} ({{movie.ReleaseYear}})<div star-rating rating-value="movie.Rate" min="1" max=10 class="pull-right"></div></h1></div>
                            <div>{{movie.Description}}</div>
                            <div class="pull-right">
                                <button id="btnEdit" class="btn btn-sm btn-success" data-ng-click="viewMovie(movie.Id)">{{'Detail'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

